// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.blog-content {
	display: block;
	margin: 10% auto;
	background-color: gray;
	border-radius: 25px;
	opacity: 1;


}


.card {
	padding: 50px;
}